@page
@model StudScanner.Pages.EndModel
@{
}
<div id="end-container">
	<span id="end-text1">Дякуємо!<span id="end-text2">Ви успішно надіслали дані. <br> Сторінка може бути закрита.</span></span>
	
</div>